<section id="catalogo">
    <div class="explicacion-modulo">
        <strong>Catálogo de Fragmentación (Diccionario de Datos Global - DDG).</strong>
        Registro central que describe cómo se distribuyen las entidades del sistema entre los nodos participantes.
    </div>

    <div class="contenedor-tabla-panel">
        <div class="tabla-header">
            <h3>Catálogo de Fragmentación</h3>
        </div>

        <div class="responsive-table">
            <table>
                <thead>
                    <tr>
                        <th>ID Fragmento</th>
                        <th>Nombre Fragmento</th>
                        <th>Nodo</th>
                        <th>Motor BD</th>
                        <th>Tabla Base</th>
                        <th>Tipo de Fragmentación</th>
                    </tr>
                </thead>

                <tbody id="tabla-catalogo-fragmentacion">
                </tbody>
            </table>
        </div>
    </div>
</section>