<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>
        Dashboard Distribuido
    </title>

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous"
    >

</head>

<body class="bg-dark text-white">

<div class="container mt-5">

    <h1 class="mb-4">
        Sistema Distribuido Aduanero
    </h1>

    <!-- METRICAS -->

    <div class="row">

        <div class="col-md-3">

            <div class="card bg-primary text-white">

                <div class="card-body">

                    <h5>Nodos Activos</h5>

                    <h2 id="nodos">
                        0
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card bg-success text-white">

                <div class="card-body">

                    <h5>Fragmentos</h5>

                    <h2 id="fragmentos">
                        0
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card bg-warning text-dark">

                <div class="card-body">

                    <h5>Pendientes</h5>

                    <h2 id="pendientes">
                        0
                    </h2>

                </div>

            </div>

        </div>

    </div>

    <!-- TABLA NODOS -->

    <div class="mt-5">

        <h3>
            Estado de Nodos
        </h3>

        <table class="table table-dark table-striped">

            <thead>

                <tr>
                    <th>Nodo</th>
                    <th>Estado</th>
                </tr>

            </thead>

            <tbody id="tabla_nodos">

            </tbody>

        </table>

    </div>

</div>

<div class="mt-5">

    <h3>
        Operaciones por Nodo
    </h3>

    <canvas id="graficoNodos"></canvas>

</div>

<div class="card bg-secondary mt-4">

    <div class="card-body">

        <h3>
            Topología Distribuida
        </h3>

        <div class="text-center mt-4">

            <div class="mb-3">

                <button class="btn btn-primary">
                    Coordinador Central
                </button>

            </div>

            <div class="d-flex justify-content-around">

                <button class="btn btn-success">
                    Nodo La Paz
                </button>

                <button class="btn btn-warning">
                    Nodo Santa Cruz
                </button>

            </div>

        </div>

    </div>

</div>

<div class="mt-5">

    <h3>
        Catálogo de Fragmentos
    </h3>

    <table class="table table-dark">

        <thead>

            <tr>

                <th>Fragmento</th>
                <th>Nodo</th>
                <th>Motor</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>PAQUETE_LP</td>
                <td>La Paz</td>
                <td>PostgreSQL</td>

            </tr>

            <tr>

                <td>MOVIMIENTO_LP</td>
                <td>La Paz</td>
                <td>PostgreSQL</td>

            </tr>

            <tr>

                <td>PAQUETE_SCZ</td>
                <td>Santa Cruz</td>
                <td>SQL Server</td>

            </tr>

            <tr>

                <td>MOVIMIENTO_SCZ</td>
                <td>Santa Cruz</td>
                <td>SQL Server</td>

            </tr>

        </tbody>

    </table>

</div>

<div class="card mt-5 bg-dark border-light">

    <div class="card-body">

        <h3>
            Trazabilidad del Paquete
        </h3>

        <ul class="list-group mt-4">

            <li class="list-group-item">
                📦 Recepcionado - La Paz
            </li>

            <li class="list-group-item">
                🚚 En tránsito - Cochabamba
            </li>

            <li class="list-group-item">
                ✅ Entregado - Santa Cruz
            </li>

        </ul>

    </div>

</div>

<div class="card bg-dark mt-5 border-warning">

    <div class="card-body">

        <h3>
            Cola de Sincronización
        </h3>

        <p>
            Operaciones pendientes:
            <span id="pendientes_sync">
                0
            </span>
        </p>

    </div>

</div>

<div class="card mt-5 bg-dark border-info">

    <div class="card-body">

        <h3>
            Flujo de Consulta Distribuida
        </h3>

        <div class="text-center mt-4">

            Cliente
            ↓
            <br>

            API Gateway
            ↓
            <br>

            Query Parser
            ↓
            <br>

            Subconsultas
            ↓
            <br>

            Ensamblador
            ↓
            <br>

            Resultado Global

        </div>

    </div>

</div>

<div class="card mt-5 bg-dark">

    <div class="card-body">

        <h3>
            Logs Distribuidos
        </h3>

        <div id="logs">

            <p>
                [10:20] Consulta enviada a LP
            </p>

            <p>
                [10:21] Nodo SCZ respondió
            </p>

        </div>

    </div>

</div>



<script src="/static/js/dashboard.js"></script>

<script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>