<section id="almacenes">
    <div class="explicacion-modulo">
        <strong>Esquema de Almacenamiento Regional Replicado.</strong> Información de los galpones y patios de contenedores autorizados por el Nodo Central para la guarda temporal de mercancías en esta rampa regional.
    </div>

    <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
        <button class="btn-secundario" onclick="sincronizarConCentralBoton()">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" style="margin-right: 5px; vertical-align: middle;"><path d="M21.5 2v6h-6M21.34 15.57a10 10 0 1 1-.57-8.38l5.67-5.67"/></svg>
            Sincronizar con Central
        </button>
    </div>

    <div class="contenedor-tabla-panel">
        <div class="responsive-table">
            <table>
                <thead>
                    <tr>
                        <th>ID Almacén (PK)</th>
                        <th>Nombre del Almacén</th>
                        <th>Dirección / Ciudad</th>
                        <th>Nodo Responsable</th>
                    </tr>
                </thead>
                <tbody id="tabla-almacenes-local-body">
                    </tbody>
            </table>
        </div>
    </div>
</section>